.wrapper {
  width: 1600px;
  min-height: 90vh;
  display: flex;
  justify-content: center;
}
.container {
  width: 1290px;
  position: relative;
}
.title {
  margin-top: 30px;
  color: #000;

  font-family: Montserrat;
  font-size: 37px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.sum {
  font-size: 28px;
  font-weight: 500;
  position: absolute;
  right: 0;
}
.good_item {
  width: 100%;
  border-radius: 10px;
}
