.paymentPage {
  width: 1586px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container {
  width: 1290px;
}
.items_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 30px;
}
.title {
  color: #000;
  font-family: Montserrat;
  font-size: 37px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 45px;
}
.item {
  width: 410px;
  margin: 0;
}
.subtitle {
  color: #000;

  font-family: Montserrat;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.paragraphWithCheck {
  display: flex;
  justify-items: space-beetwen;
  align-items: start;
  gap: 10px;
}
.check {
  display: block;
  margin-top: 10px;
}
.paragraph {
  margin: 5px;
  color: #000;
  font-family: Montserrat;
  font-size: 19px;
  line-height: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.image1 {
  width: 52px;
  display: inline-block;
  margin-right: 15px;
}
.image2 {
  width: 32px;
  display: inline-block;
  margin-right: 15px;
}
.image3 {
  width: 40px;
  display: inline-block;
  margin-right: 15px;
}
.image4 {
  width: 37px;
  display: inline-block;
  margin-right: 15px;
}
.image5 {
  width: 29px;
  display: inline-block;
  margin-right: 15px;
}
.image6 {
  width: 67px;
  display: inline-block;
  margin-right: 15px;
}
.image7 {
  width: 60px;
  display: inline-block;
}
b {
  font-weight: 500;
}
a {
  color: #00bfed;
}
