body {
  margin: 0; /* Убираем отступы по умолчанию у body */
  display: flex;
  justify-content: center; /* Центрируем содержимое по горизонтали */
  align-items: center; /* Центрируем содержимое по вертикали */
  height: 100vh; /* Занимаем всю высоту видимой области экрана */
}
