.page_title {
  text-align: center;
  margin-top: 20px;
  font-size: 40px;
  text-transform: uppercase;
}

.container_goods {
  overflow: ;
  width: 1200px;
  margin: 150px;
  margin-right: 140px;
  margin-top: 50px;
  border-color: #00bfed;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}
