.header {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.left_part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  color: #000;

  font-family: Montserrat;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
}
.icon1 {
  width: 22px;
  height: 22px;
  margin-bottom: 1px;
}
.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
}
.icon2 {
  width: 18px;
  height: 18px;
  margin-bottom: 3px;
}

.logo_part {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  color: #000;

  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.logo {
  width: 67.375px;
  height: 69.103px;
  flex-shrink: 0;
  margin-right: -20px;
}
.right_part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-family: Montserrat;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.liked {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
}
.icon3 {
  width: 22px;
  height: 22px;
  margin-bottom: 3px;
}

.purchases {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
}

.icon4 {
  width: 19px;
  height: 19px;
  margin-bottom: 3px;
}
