.slider_wrapper {
  width: 100%;
  height: 540px;
  background-color: #c8d7e8;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.leftArrow {
  display: block;
  width: 35px;
  height: 35px;
}
.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rightArrow {
  display: block;
  width: 35px;
  height: 35px;
}
