.styles_section {
  width: 1586px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  color: #000;
  font-family: Montserrat;
  font-size: 37px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.styles_wrapper {
  width: 1445px;
  display: flex;
}
.styles_wrapper {
  width: 1445px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
.topLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.bottomLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.style1 {
  width: 740px;
  height: 420px;
  background-image: url(../../assets/img/style-1.png);
  color: #fff;
  position: absolute;
}
.subtitle {
  font-family: Montserrat;
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  position: relative;
  bottom: 35px;
  left: 45px;
}
