.collections_section {
  width: 1600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  color: #000;

  font-family: Montserrat;
  font-size: 37px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.collections_wrapper {
  width: 1290px;
  display: flex;
}
.collections_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.collection1 {
  width: 630px;
  height: 450px;
}
.leftPart {
  background-color: #252525;
  height: 100%;
}
.subtitle {
  color: #fff;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}
