.collections_section {
  width: 1600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  color: #000;

  font-family: Montserrat;
  font-size: 37px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.collections_wrapper {
  width: 1290px;
  display: flex;
}
.collections_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.collection1 {
  width: 630px;
  height: 450px;
  background-color: #252525;
  position: absolute;
  border-radius: 5px;
}

.subtitle {
  position: relative;
  top: 70px;
  left: 65px;
  width: 195px;
  height: 148px;
  color: #fff;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}
.button {
  position: relative;
  top: 118px;
  left: 65px;
  display: block;
  width: 118px;
  height: 36px;
  border: 2px solid white;
  border-radius: 2px;
  background-color: transparent;
  color: white;
  padding-top: 8px;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.rightPart {
  position: relative;
  top: 0;
  right: 0;
  width: 297px;
  height: 100%;
  background-image: url(../../assets/img/collection1.png);
}
